.vox-container {
  position: absolute;
  left: 48%;
  bottom: 37%;

  width: 940px;
  height: 920px;

  pointer-events: none;
  z-index: 1;
}

@media (max-width: 1200px) {
  .vox-container {
    display: none;
  }
}
