.vox-container {
  position: absolute;
  right: 5%;
  top: 180px;

  width: 520px;
  height: 520px;

  pointer-events: none;
  z-index: 1;
}

@media (max-width: 1200px) {
  .vox-container {
    display: none;
  }
}
