body {
  background: linear-gradient(to left, black, rgb(0, 170, 255)); /* Белый фон */
  color: #ffffff; /* Черный текст */
  transition: background-color 0.10s ease; /* Плавный переход */
}

/* Стили для темной темы, которые будут применяться при нажатии */
body.dark-mode {
  background: linear-gradient(to left, black, rgb(125, 0, 130)); /* Черный фон */
  color: #ffffff; /* Белый текст */
}

.Rekomenduemoe_h5_anime , .Rekomenduemoe_h5_manga , .dark-mode {
    color: #ffffff; /* Белый текст */
}