.form_search_table {
    display: flex;
    width: 270px;
    height: 240px;
    background-color: #09b6fb;
    border-radius: 10px;
}

.List_manga_read {
    margin-top: 40px;
    margin-left: 565px;
    font-size: 25px;
}

.Manga_Janri {
  margin-top: 15px;
}

