.form_search_table {
    display: flex;
}

.list_manga_name {
    margin-top: 40px;
    margin-left: 565px;
    font-size: 25px;
}

.manga_list_background {
    width: 1200px;
    height: 430px;
    background-color: #09b6fb;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 15px;
    display: flex;
}

.manga_card {
    margin-top: 15px;
}

.read_button {
    border-radius: 2px;
}

.Manga_Janri {
    margin-top: 10px;
}

.manga_card {
  background: none !important;
  box-shadow: none !important;
}

.poster_container {
  position: relative;
  width: 250px;
  height: 370px;
  overflow: hidden;
  border-radius: 12px;
  margin: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.poster_container:hover {
  transform: scale(1.05);
}

.poster_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.poster_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.poster_text {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 2;
}

.read_button {
  margin-top: 10px;
  background-color: #1976d2 !important;
}
