.form_search_table {
    display: flex;
}

.list_manga_name {
    margin-top: 40px;
    margin-left: 565px;
    font-size: 25px;
}

.Manga_Janri {
  margin-top: 15px;
}

.manga_list_background {
    width: 580px;
    height: 640px;
    background-color: #09b6fb;
    border-radius: 10px;
    margin-left: 375px;
}

