body {
  background-color: #0faeed; /* Белый фон */
  color: #000000; /* Черный текст */
  transition: background-color 0.7s ease; /* Плавный переход */
}

/* Стили для темной темы, которые будут применяться при нажатии */
body.dark-mode {
  background-color: #000000; /* Черный фон */
  color: white;
}

.dark-mode.text_h1_forum {
  color: #000000;
}

.dark-mode .forum_sidebar_text {
  color: #000000;
}