body {
  background: linear-gradient(to left, black, rgb(0, 170, 255));
}

.Contacts_info {
  max-width: 800px;      /* Ограничиваем ширину текста */
  background-color: #f5f5f5; /* Светлый фон */
  border-radius: 12px;       /* Скруглённые углы */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень */
  font-family: 'Arial', sans-serif;
  margin-left: 60px;
  margin-top: 25px;
}

.cont_1 {
  position: relative;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 550px;
  object-fit: cover;  /* чтобы заполняла весь блок */
  z-index: -1;        /* отправляем назад */
}

.Contacts_info {
  font-size: 28px;
  margin-bottom: 10px;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ffffff;
  }
  50% {
    text-shadow: 0 0 20px #ffffff, 0 0 40px #e4e4e4;
  }
  100% {
    text-shadow: 0 0 5px #ffffff;
  }
}

.nav-bar a {
  color: white;
  transition: all 0.3s ease;
}

.nav-bar a:hover {
  color: #00b7ff;
  animation: glow 1s infinite alternate;
}


.Contacts_info {
  font-size: 20px;
  line-height: 1.6;
  color: #3d3d3d;
}

.p_2 {
    font-size: 20px;
}

.cont_1 {
  margin-left: 45px;
}

.h1_contOne {
  margin-top: 35px;
}

.h1_cont_2 {
  margin-top: 80px;
  margin-left: 50px
}

.p_info_socialnoi {
  margin-left: 10px;
  margin-top: 170px;
}

.Boosty-name , .Instagram-name , .Telegram-name {
 margin-left: 10px;
 margin-top: 15px;
 display: flex;
}

/* Language */
.language button {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
/* */
.h1_Contacts_text_h1 {
  margin-top: 25px;
  margin-left: 35px;
}

@import url('https://fonts.cdnfonts.com/css/akisa');

.Glavnaja_1 {
  font-family: 'Akisa';
  font-size: 125px;
}

.glavnaja_icon_TEXT {
  display: flex;
}

.Glavnaja_1 {
  margin-top: 20px;
  margin-left: 10px;
}