.body {
    color: rgb(152, 22, 22);
}

.Text_content_h1 {
    font-size: 35px;
    color: rgb(155, 25, 25);
}

.Text_content_h2 {
    font-size: 70px;
}

.error_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Text_content_h2 {
    margin-left: 20px;
}

.btn_error {
    margin-left: 70px;
    background-color: black;
    color: white;
    width: 115px;
    height: 45px;
    border-radius: 8px;
}

.btn_error {
    margin-top: 10px;
}