/* анимация затемнения */
body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Описание и отсутпление */
.h1_glavnaja {
  margin-top: 65px;
  margin-left: 45px;
  font-size: 45px;
}

.Opisanie {
  margin-top: 15px;
}

.Opisanie_1 , .Opisanie_2 {
  margin-top: 15px;
  margin-left: 50px;
}

.p_1_op_1 , .p_2_op_1 , .p_3_op_1 , .p_1_op_2 , .p_2_op_2 , .p_3_op_2 {
  margin-left: 15px;
}

.Rekomenduemoe {
  margin-top: 65px;
  margin-left: 45px;
}


.glav_anime_manga_1 {
  margin-top: 12px;
  margin-left: 18px;
}