/* анимация затемнения */
body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body {
  opacity: 1;
  transition: opacity 0.5s ease;
}


/* FAQ */
.Questions_1 {
  margin-top: 45px;
}

.FAQ {
  margin-top: 20px;
}

.FAQ , .Questions_1 {
  margin-left: 25px;
}

.Questions {
  border-radius: 1rem;
  font-style: italic;
  font-size: 18px;
  width: 140px;
  height: 25px;
  margin-top: 25px;
}

/*  Личные вопросы по ссылки */
.Questions_oma_1 {
  margin-top: 55px;
  margin-left: 25px;
}
