/* Основной контейнер: текст слева, картинка с кнопкой справа */
.content_Anime {
    display: flex;
    justify-content: space-between; /* Разделяет текст и картинку по краям */
    align-items: flex-start; /* Выровнять по верхнему краю */
    margin: 20px;
}

/* Левая часть: текст */
.Opisanie_Anime {
    max-width: 80%; /* Чтобы текст не растягивался слишком широко */
}

/* Правая часть: картинка и кнопка */
.anime_right {
    display: flex;
    flex-direction: column; /* Картинка сверху, кнопка снизу */
    align-items: flex-end; /* Выравнивание по правому краю */
}

/* Кнопка */
.button_anime_btn {
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin-top: 15px;
    margin-right: 125px;
}

/* Картинка */
.img_img {
    margin-right: 45px;
}

.Group_hanr_1 {
    display: flex;

}

.Group_hanr_2 {
    display: flex;
}

.Group_hanr_3 {
    display: flex;
}

.hanr_1 {
    background-color: blue;
    border-radius: 8px;
    width: 115px;
    height: 25px;
    margin-top: 25px;
    margin-left: 18px;
}

.hanr_2 {
    background-color: blue;
    border-radius: 8px;
    width: 115px;
    height: 25px;
    margin-top: 8px;
    margin-left: 25px;
}

.hanr_3 {
    background-color: blue;
    border-radius: 8px;
    width: 115px;
    height: 25px;
    margin-top: 8px;
    margin-left: 18px;
}

.Opisanie_Anime_text {
    margin-top: 25px;
}