.btn_list_anime:hover {
  position: relative;
  box-shadow: 0 0 15px rgba(242, 0, 255, 0.7); 
} 

.btn_list_anime {
  color: blue;
}

.btn_serii_1:hover {
  position: relative;
  box-shadow: 0 0 15px rgba(133, 5, 140, 0.7);    
}

.kvadrat_gray_2_anime {
  width: 890px;
  height: 110px;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  margin-top: 750px;
}

.btn_rating_1_anime {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  margin-top: 8px;
  background-color: black;
  color: white;
}

.h3_reiting {
  color: white;
}

.simple-rating {
  position: relative;
  font-size: 30px;
  display: inline-block;
}

.simple-rating_items {
  display: flex;
  flex-direction: row-reverse;
}

/* Скрываем radio */
.simple-rating_item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* Звёзды */
.simple-rating_label {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.simple-rating_label::before {
  content: "★";
}

/* Подсветка при hover */
.simple-rating_label:hover,
.simple-rating_label:hover ~ .simple-rating_label {
  color: gold;
}

/* Подсветка выбранных */
.simple-rating_item:checked ~ .simple-rating_label {
  color: gold;
}
.commentary_content_anime {}

.textrea_content {}

.commentary_content_text_anime {}

.commentary_content_text_anime {
  margin-top: 20px;
    width: 850px;
    height: 310px;
    background-color: black;
    margin-left: 520px;
    border-radius: 8px;
}