.kvadrat_AnimeChan {
    margin-top: 10px;
}

.kvadrat_black_anime {
    width: 890px;
    height: 870px;
    background-color: black;
    margin-left: 500px;
    border-radius: 10px;
}

.kvadrat_gray_anime {
    width: 890px;
    height: 110px;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
}

.old_serii_btn , .new_serii_btn {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 145px;
    height: 35px;
}

.old_serii_btn , .new_serii_btn {
    margin-top: 10px;
}

.old_serii_btn {
    margin-left: 10px;
}

.new_serii_btn {
    margin-left: 580px;
}

