.kvadrat_MangaChan {
    margin-top: 10px;
}

.kvadrat_black {
    width: 890px;
    height: 870px;
    background-color: black;
    margin-left: 500px;
    border-radius: 10px;
}

.kvadrat_gray {
    width: 890px;
    height: 110px;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
}

.btn_1_list_left , .btn_2_list_right {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 95px;
    height: 35px;
}

.enter_new_volume , .enter_old_volume {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 125px;
    height: 35px;
}

.list_btn_leftAndRight , .list_enterTom {
    margin-top: 10px;
}

