/* Для странице чтение манги */
.kvadrat_MangaChan {
    margin-top: 10px;
}

.kvadrat_black {
    width: 1050px;
    height: 870px;
    background-color: black;
    margin-left: 460px;
    border-radius: 10px;
}

.kvadrat_gray {
    width: 1050px;
    height: 110px;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
}

.btn_1_list_left , .btn_2_list_right {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 95px;
    height: 35px;
    margin-top: 10px;
}

.btn_1_list_left {
    margin-left: 10px;
}

.btn_2_list_right {
    margin-left: 840px;
}

.enter_new_volume , .enter_old_volume {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 125px;
    height: 35px;
    margin-top: 8px;
}

.enter_new_volume {
    margin-left: 780px;
}

.enter_old_volume {
    margin-left: 10px;
}

.kvadrat_gray_2 {
    width: 1050px;
    height: 110px;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    margin-top: 650px;
}

