.Contacts_info {
  max-width: 800px;      /* Ограничиваем ширину текста */
  background-color: #f5f5f5; /* Светлый фон */
  border-radius: 12px;       /* Скруглённые углы */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень */
  font-family: 'Arial', sans-serif;
  margin-left: 60px;
  margin-top: 65px;
}

.Contacts_info {
  font-size: 28px;
  margin-bottom: 15px;
}

.Contacts_info {
  font-size: 20px;
  line-height: 1.6;
  color: #3d3d3d;
}

.p_2 {
    font-size: 20px;
}

.cont_1 {
  margin-left: 60px;
  margin-top: 65px;
}

.h1_cont_2 {
  margin-top: 35px;
}

