/* анимация затемнения */
body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Language */
.language button {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

/* Форум/Обсуждение */
.Forum_text {
  margin-top: 25px;
  margin-left: 35px;
}

@import url('https://fonts.cdnfonts.com/css/akisa');

.Glavnaja_1 {
  font-family: 'Akisa';
  font-size: 125px;
}

