/* анимация затемнения */
body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Language */
.language button {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.News_text_h1 {
  margin-top: 25px;
  margin-left: 35px;
}

.News_Content {
  justify-content: center;
  margin-top: 125px;
  display: flex;

}

.card-header , .card-body , .card-footer , .card-hooter {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin-left: 12px;
  border-radius: 8px;
}

